.mainbox,.leftbox,.rightbox,.middlebox{
	border:1px solid #999;	
}
body{
	font-family:"微软雅黑";
}
.mainbox{
	background:#eee;
	padding:20px;
	overflow: auto;
}
.leftbox{
	float:left;
	background:white;
	width:160px;
	padding:20px;


}
img{
	float:left;
	height:80px;
	width:80px;
	border:1px solid #999;
}
.leftbox span{
	margin-left:10px;
}
.rightbox{
	float:right;
	width:80px;
	background:white;
	padding:20px;
	padding-bottom:0px;
}
.rightbox img{
	margin-bottom:20px;
}
.middlebox{
	margin-left:220px;
	margin-right:140px;
	height:500px;
	background:white;
}
