/*CSS file for task2.html*/
*{
	margin: 0px; 
	padding: 0px; 
}
body{
	background:#E3E3E3;
	font-family:"微软雅黑";
}
article,aside{
	background:white;
	margin:30px 20px;
	padding:30px;
	-webkit-box-shadow:1px 3px 3px grey;
	-moz-box-shadow:1px 3px 5px grey;  
	box-shadow:1px 3px 5px grey;
	overflow:hidden;
}
nav,footer{
	height:80px;
	width:100%;
	background:#555555;
	text-align:right;
	line-height:80px;
	box-shadow:1px 3px 5px black;
}
h3{
	color:grey;
}
.clearfloat{
	clear:both;
}
img.logo{
	float:left;
	height:46px;
	margin-top:25px;
	margin-left:15px;
}
img.normal_minions{
	height:200px;
}
img.small_minions{
	height:100px;
	margin:10px 10px;
}

/*顶部导航*/
.nav_link{
	margin-right:10px;
}
.nav_link a{
	text-decoration:none;
	color:white;
	margin:5px;
}
.nav_link a:hover{
	color:grey;
}

/*几个图像框*/
article figure{
	float:left;
	width:120px;
	border:1px solid grey;
	margin:30px;
}
figcaption{
	margin:10px 10px 0px 10px;
	text-align:center;
}
/*表格*/
table{	
	width:100%;
	border-collapse:collapse;
}
table tr td{
	border:1px solid grey;
}
table tr:first-child{
	background:#555555;
	color:white;
}
table tr th:nth-child(3){
	width:30%;
}
table tr:last-child{
	background:#E3E3E3;
}

/*侧边栏*/
aside h2{
	border-left:8px solid grey;
	padding:10px 20px;
}
.emailaddr,.password1,.password2,.gender,.city,.hobby,.personalstatement,.sub_btn{
	margin:10px;
	clear:both;
}
.input_label{
	float:right;
	position:relative;
	right:60%;
}
.input_box{
	float:left;
	position:relative;
	left:40%;
	margin-bottom:10px;

}
span.comment{
	color:grey;
	font-size:0.6em;
}
.submit_button{
	display:block;
	width:80%;
	height:35px;
	margin:auto;
	background:rgb(74, 74, 219);
	border-radius:9px;
	border:0;
	color:white;
	font-family:"黑体";

	box-shadow:2px 2px 5px #000000;
}

aside{
	float:right;
	width:350px;
	position:absolute;
	right:0;
	top:80px;
}
article{
	margin-right:460px;
}
footer{
	text-align:center;
	font-weight:bold;
	line-height:80px;
}